<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>
    <p>My name is Adam Booth. I'm from Mesa, AZ, but am currently living in Rexburg with my wife Scarlet while I finish up my Software Engineering degree. We got sealed in the Mesa Temple August of 2024 and married life has been great! I really enjoy playing video games as well as fixing and modding old pcs and consoles.</p>
</main>
<%- include('partials/footer') %>