<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>
    <p>Welcome to the Home Page of my Express App! This is the main content of the home page.</p>
    <img src="https://picsum.photos/600/400" alt="Random image">
</main>
<%- include('partials/footer') %>